{% extends 'base.html' %}

{% block title%}
    修改文章
{% endblock%}


{% block right%}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">修改文章</h2>
        </div>
        <div class="panel-body">
            <h4>{{msg}}</h4>
            <form action="{% url 'blog:article_update' article.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <input type="text" name="title" class="col-md-12 form-control" value="{{article.title}}">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-10 col-md-offset-1">
                        <textarea name="content" id="content" class="col-md-12 form-control" rows="20" >
                            {{article.content}}
                        </textarea>
                    </div>
                </div>
                <div class="row text-center"style="margin-top: 10px;">
                    <button class="btn btn-success btn-lg">修改文章</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}