{% extends 'base.html' %}

{% block title%}
    用户列表
{% endblock%}


{% block right%}

<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">用户列表</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <td>用户标识</td>
                    <td>用户名称</td>
                    <td>用户昵称</td>
                    <td>用户性别</td>
                    <td>用户年龄</td>
                    <td>用户生日</td>
                    <td>操作</td>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'blog:show' user.id %}">{{ user.username }}</a></td>
                    <td><a href="{% url 'blog:show' user.id %}">{{ user.nickname }}</a></td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.birthday }}</td>
                    <td>
                        <a onclick="return window.confirm('您确定要删除该用户吗？');" href="{% url 'blog:user_delete' user.id %}" class="btn btn-danger">删除</a>
                        <!--<a href="{% url 'blog:user_update' user.id %}" class="btn btn-warning" >修改</a>-->
                        <a href="{% url 'blog:reset_pwd' user.id %}" class="btn btn-warning" >重置密码</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">对不起，当前没有用户， <a href="{% url 'blog:reg' %}">请注册</a></td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock%}